In [1]:
import pandas as pd

In [2]:
%%time

#Reading the taxi yellow parquet file



df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')

CPU times: user 542 ms, sys: 220 ms, total: 762 ms
Wall time: 625 ms

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [4]:
df.shape

(2964624, 19)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB

In [6]:
# checking for missing values

# Calculate the number of missing values for each column
missing_values = df.isnull().sum()

# Print the column names and their corresponding number of missing values
for column, missing in missing_values.items():
    print(f'Feature: {column}, Missing Values: {missing}')

Feature: VendorID, Missing Values: 0
Feature: tpep_pickup_datetime, Missing Values: 0
Feature: tpep_dropoff_datetime, Missing Values: 0
Feature: passenger_count, Missing Values: 140162
Feature: trip_distance, Missing Values: 0
Feature: RatecodeID, Missing Values: 140162
Feature: store_and_fwd_flag, Missing Values: 140162
Feature: PULocationID, Missing Values: 0
Feature: DOLocationID, Missing Values: 0
Feature: payment_type, Missing Values: 0
Feature: fare_amount, Missing Values: 0
Feature: extra, Missing Values: 0
Feature: mta_tax, Missing Values: 0
Feature: tip_amount, Missing Values: 0
Feature: tolls_amount, Missing Values: 0
Feature: improvement_surcharge, Missing Values: 0
Feature: total_amount, Missing Values: 0
Feature: congestion_surcharge, Missing Values: 140162
Feature: Airport_fee, Missing Values: 140162

In [7]:
# Function to fill missing values based on data type
def fill_missing_values(df):
    for column in df.columns:
        if df[column].dtype in ['float64', 'int64']:
            mean_value = df[column].mean()
            df[column].fillna(mean_value, inplace=True)
        elif df[column].dtype == 'object':
            mode_value = df[column].mode()[0]
            df[column].fillna(mode_value, inplace=True)
    return df

In [8]:
fill_missing_values(df)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.000000,1.72,1.000000,N,186,79,2,17.70,1.00,0.5,0.00,0.00,1.0,22.70,2.500000,0.000000
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.000000,1.80,1.000000,N,140,236,1,10.00,3.50,0.5,3.75,0.00,1.0,18.75,2.500000,0.000000
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.000000,4.70,1.000000,N,236,79,1,23.30,3.50,0.5,3.00,0.00,1.0,31.30,2.500000,0.000000
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.000000,1.40,1.000000,N,79,211,1,10.00,3.50,0.5,2.00,0.00,1.0,17.00,2.500000,0.000000
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.000000,0.80,1.000000,N,211,148,1,7.90,3.50,0.5,3.20,0.00,1.0,16.10,2.500000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,1.339281,3.18,2.069359,N,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,2.256122,0.141161
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,1.339281,4.00,2.069359,N,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,2.256122,0.141161
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,1.339281,3.33,2.069359,N,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,2.256122,0.141161
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,1.339281,3.06,2.069359,N,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,2.256122,0.141161
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,1.339281,8.10,2.069359,N,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,2.256122,0.141161

In [9]:
# checking for missing values

# Calculate the number of missing values for each column
missing_values = df.isnull().sum()

# Print the column names and their corresponding number of missing values
for column, missing in missing_values.items():
    print(f'Feature: {column}, Missing Values: {missing}')

Feature: VendorID, Missing Values: 0
Feature: tpep_pickup_datetime, Missing Values: 0
Feature: tpep_dropoff_datetime, Missing Values: 0
Feature: passenger_count, Missing Values: 0
Feature: trip_distance, Missing Values: 0
Feature: RatecodeID, Missing Values: 0
Feature: store_and_fwd_flag, Missing Values: 0
Feature: PULocationID, Missing Values: 0
Feature: DOLocationID, Missing Values: 0
Feature: payment_type, Missing Values: 0
Feature: fare_amount, Missing Values: 0
Feature: extra, Missing Values: 0
Feature: mta_tax, Missing Values: 0
Feature: tip_amount, Missing Values: 0
Feature: tolls_amount, Missing Values: 0
Feature: improvement_surcharge, Missing Values: 0
Feature: total_amount, Missing Values: 0
Feature: congestion_surcharge, Missing Values: 0
Feature: Airport_fee, Missing Values: 0

In [10]:
#creating the time of delivery column

#Calculate the time difference between the two datetime columns.
df['time_del'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']) / pd.Timedelta('1 hour')

#in minutes

df['time_del'] = df['time_del'] * 60

#Drop the original datetime columns.
df.drop(columns=['tpep_pickup_datetime', 'tpep_dropoff_datetime'], inplace=True)

In [11]:
df.head()

,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,time_del
0,2,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0,19.800000
1,1,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0,6.600000
2,1,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0,17.916667
3,1,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0,8.300000
4,1,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0,6.100000

In [12]:
df['store_and_fwd_flag'].value_counts()

N    2953288
Y      11336
Name: store_and_fwd_flag, dtype: int64

In [13]:
#one-hot encoding

df = pd.get_dummies(df, columns=['store_and_fwd_flag'], drop_first=True)

In [14]:
#dealing with outliers

def drop_outliers(df, features):
  for feature in features:
    # calculate the upper and lower limits
    Q1 = df[feature].quantile(0.25)
    Q3 = df[feature].quantile(0.75)
    IQR = Q3 - Q1
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR
    # drop outliers
    df = df[(df[feature] >= lower_limit) & (df[feature] <= upper_limit)]
  return df

In [15]:
drop_outliers(df, df.columns)

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,time_del,store_and_fwd_flag_Y
18,2,1.0,1.50,1.0,141,263,1,9.3,1.0,0.5,3.00,0.0,1.0,17.30,2.5,0.0,6.650000,0
20,2,1.0,0.66,1.0,263,236,1,6.5,1.0,0.5,2.88,0.0,1.0,14.38,2.5,0.0,5.116667,0
22,2,1.0,0.94,1.0,158,113,1,8.6,1.0,0.5,2.72,0.0,1.0,16.32,2.5,0.0,7.550000,0
39,2,1.0,2.96,1.0,229,249,1,14.9,1.0,0.5,3.98,0.0,1.0,23.88,2.5,0.0,12.183333,0
40,2,1.0,1.20,1.0,186,48,1,16.3,1.0,0.5,4.26,0.0,1.0,25.56,2.5,0.0,17.933333,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2824452,2,1.0,3.50,1.0,186,263,1,19.1,1.0,0.5,4.82,0.0,1.0,28.92,2.5,0.0,17.300000,0
2824453,2,1.0,4.54,1.0,234,256,1,26.1,1.0,0.5,4.00,0.0,1.0,35.10,2.5,0.0,25.466667,0
2824455,2,1.0,1.94,1.0,161,79,1,11.4,1.0,0.5,3.28,0.0,1.0,19.68,2.5,0.0,8.833333,0
2824458,2,1.0,3.36,1.0,162,261,1,18.4,1.0,0.5,5.85,0.0,1.0,29.25,2.5,0.0,16.516667,0
2824461,2,1.0,1.58,1.0,140,263,1,8.6,1.0,0.5,2.72,0.0,1.0,16.32,2.5,0.0,5.766667,0

In [16]:
#training and evaluating the model

import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Separate data into train and test sets
X = df.drop('time_del', axis=1)
y = df['time_del']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train and validate XGBoost regressor
xgb_model = xgb.XGBRegressor()
xgb_model.fit(X_train, y_train)

# Predict on train and test sets
y_train_pred = xgb_model.predict(X_train)
y_test_pred = xgb_model.predict(X_test)

# Calculate train and validation RMSE
train_rmse = mean_squared_error(y_train, y_train_pred, squared=False)
val_rmse = mean_squared_error(y_test, y_test_pred, squared=False)

print(f'Train RMSE: {train_rmse:.2f}')
print(f'Validation RMSE: {val_rmse:.2f}')

Train RMSE: 32.61
Validation RMSE: 30.74